@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
	html,
	body {
		font-family: 'Montserrat', sans-serif;
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		box-sizing: border-box;
	}
}

a:not([href]) {
	opacity: 0.5;
	pointer-events: none;
}

p + p,
p + blockquote {
	@apply mt-4;
}
